@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap");

/* you can refer the below lines for color code and breakpoints */

/* background-color: #f6f9fc; */
/* h2 #6772e5 */
/* h3 #24b47e */
/* p #525f7f */
/* a #6772e5 */
/* border #f6f9fc */
/* breakpoints for mediaquery 900px,700px,500px */
/* breakpoint:700px-Change the height and fontsize of header,fontsize of h2,padding for the section */
/* breakpoint:500px-fontsize of h2,header*/
/* breakpoint:900px-Apply flex direction column*/

body {
	margin: 0;
	padding: 0;
	font-family: Montserrat;
  background-color: #f6f9fc;
}

button {
	display: inline-block;
	line-height: 40px;
	padding: 0.3em 0.5em;
	-webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
		0 1px 3px rgba(0, 0, 0, 0.08);
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	background: #fff;
	border: none;
	border-radius: 0.5em;
	font-size: 1.5em;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: #7795f8;
	outline: none;
}
header {
	height: 100vh;
	background-image: url(images/headerimage.jpeg);
	background-size: cover;
	background-position: center;
	background-position: bottom;
	/* background-position-x: center; */
	/* background-position-y: bottom; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
h1
{
  font-size: 70px;
  font-weight: 300;
  margin: 0;
}
main {
	width: 100vw;
	
}
main h2
{
  text-align: center;
  color: #6772e5;
  font-size: 35px;
  font-weight: 300;
  padding: 1rem;
}
#cards {
	display: flex;
  justify-content: center;
  

}
#cards section
{
  width: 30%;
  background: rgb(255, 255, 255);
  padding: 40px;

}
#cards section:first-child
{
  border-radius: 20px 0px;
  margin: 1px;
}

#cards section:last-child
{
  border-radius: 0px 20px;
  margin: 1px;
}
section img
{
  width: 80px;
}
h3
{
  color: #24b47e;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}
p
{
  color: #525f7f;
  line-height: 1.8em;
  text-align: justify;
  
}
a
{
  text-decoration: none;
}

@media screen and (max-width:900px) {
  #cards
  {
    flex-direction: column;
  }
  #cards section
  {
    width: 88%;
    padding: 2.5rem;
  }
  
}
@media screen and (max-width:700px) {
  header
  {
    height: 480px;
  }
  h1
  {
    font-size: 50px;
  }
  header h2, main h2
  {
    font-size: 20px;
  }
  button {
    line-height: 30px;
    font-size: 1.1em;
  }
  #cards
  {
    flex-direction: column;
  }
  #cards section
  {
    width: 82%;
    padding: 2rem;
  }

  
}
@media screen and (max-width:500px) {
  header
  {
    height: 480px;
  }
  h1
  {
    font-size: 35px;
  }
  header h2, main h2
  {
    font-size: 14px;
  }
  button {
    line-height: 25px;
    font-size: 1em;
  }
  #cards section
  {
    width: 80%;
    padding: 2.5rem;
  }
  

  
}